<nav id="nav">
    <div class="row">
        <div class="column">
            <menu class="main-menu">
                {% for page in pages.children %}
                    {% if page.visible %}
                        {% set current_page = (page.active or page.activeChild) ? 'current_page_item' : '' %}
                        {% if page.children.count > 0 %}
                            <li class="menu-item menu-item-has-children {{ current_page }}"><a href="{{ page.url }}">{{ page.menu }}</a>
                            <ul class="sub-menu">
                                {{ _self.loop(page) }}
                            </ul>
                        {% else %}
                            <li class="menu-item {{ current_page }}"><a href="{{ page.url }}">{{ page.menu }}</a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </main>
        </div>
    </div>
</nav>